{% extends "base.html" %}
{% block title %} Home Page {% endblock title%}
{% block content %}
    <div class="jumbotron">
        <h1 class="display-4">Hoşgeldin, {{user.first_name.title|default:'Ziyaretçi'}} 🎉</h1>
        <p class="lead">
            <p><b>Planlama</b> ve <b>hedeflerinizi</b> gerçeğe dönüştürmek için bir adım atmaya hazır mısınız?</p>
            <p>Burada, hayatınızı daha düzenli, daha verimli ve daha ilham verici hale getirmek için yanınızdayız.</p>
            <br>
            <p>Her adımda sizinle birlikte çalışacak araçlarımız ve topluluğumuzla, <b>başarıya giden yolda</b> asla yalnız hissetmeyeceksiniz.</p>
            <br>
            <p>Hadi başlayalım ve <b>geleceğinizi şekillendirelim!</b></p>
            <br>
            <p><b>Plan&Go ailesine katıldığınız için teşekkür ederiz.</b> Haydi, birlikte harikalar yaratalım! 😊</p>
        </p>
        <hr class="my-4">
        <p class="lead">
            {% if user.is_authenticated %}
                <a class="btn btn-primary btn-lg" href="{% url 'logout' %}" role="button">Çıkış Yap</a>
            {% else %}
                <a class="btn btn-primary btn-lg" href="{% url 'login' %}" role="button">Giriş Yap</a>
            {% endif %}
        </p>
    </div>

{% endblock content %}


